header{
  width:100%;
  display:flex;
  juustify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#111;
  position:sticky;
  top:0;
  z-index:999;
  box-shadow:0 5px 20px rgba(0,0,0,.5);
}
header h1{
  color:#ff1f4d;
  font-size:34px;

  letter-spacing:2px;
}
nav{
  display:flex;
  gap:20px;
}
nav a{
  color:white;
  text-decoration:none;
  padding:10px 20px;
  border-radius:30px;
  transition:.3s;
}
nav a:hover{
  background:#d90429;
  transform:translateY(-3px);
}
.hero{
  height:90vh;
  background:liner-gradient(0,0,0,.65),rgba(0,0,0,.75);
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:center;
  text-align:center;
}
.hero h2{
  front-size:70px;
  margin-bottom:20px;
}
.hero p{
  front-size:20px;
  width:700px;
  max-width:90%;
  color:#ddd;
  margin-bottom:35px;
}

  
