header{
  width:100%;
  display:flex;
  juustify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#111;
  position:sticky;
  top:0;
  z-index:999;
  box-shadow:0 5px 20px rgba(0,0,0,.5);
}
header h1{
  color:#ff1f4d;
  font-size:34px;

  letter-spacing:2px;
}
nav{
  display:flex;
  gap:20px;
}
nav a{
  color:white;
  text-decoration:none;
  padding:10px 20px;
  border-radius:30px;
  transition:.3s;
}
nav a:hover{
  background:#d90429;
  transform:translateY(-3px);
}
.hero{
  height:90vh;
  background:liner-gradient(0,0,0,.65),rgba(0,0,0,.75);
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:center;
  text-align:center;
}
.hero h2{
  front-size:70px;
  margin-bottom:20px;
}
.hero p{
  f45ont-size:20px;
  width:700px;
  max-width:90%;
  color:#ddd;
  margin-bottom:35px;
}
button{
  background:#d90429;
  color:white;
  border:none;
  padding:15px, 35px;
  border-radius:40px;
  ursor:pointer;
  font-size:18px;
  transition:.3s;
}
buton:hover{
  transform:translateY(-5px);
  box-shadow:0 0 20px #ff1f4d;
}
section{
  padding:80px 8%;
}
section h2{
  text-align:center;
  font-size:45px;
  margin-bottom:50px;
}
p{
  color:#cfcfcf;
  line-height:1.7;
}
h3{
  margin-bottom:15px;
}
a{
  transition:.3s;
}
img{
  width:100%;
  display:block;
}
footer{ 
  background:#111;
  padding:30px;
  text-align:center;
  color:#999;
  margin-top:80%;
  border-top:1px solid #222;
}
.container{
  width:90%;
  max-width:1300px;
  margin:auto;
}
.center{
  text-align:center;
}
.hidden{
  display:none;
}
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:35px;
  margin-top:40px;
}
.card{
  background:#171717;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,.4);
  transition:.4s;
  border:1px solid #222;
}
.card:hover{
  transform:translateY(-12px);
  box-shadow:0 0 25px rgba(255,0,70,.8);
}
.card img{
  width:100%;
  height:250px;
  object-fit:cover;
  transition:.5s;
}
.card:hover img{
  transform:scale(1.08);
}
.card-content{
  padding:25px;
}
.card-cotent h3{
  color:#ffffff;
  font-size:28px;
  margin-bottom:15px;
}
.card-content p{
  color:#cccccc;
  margin-bottom:25px;
  line-height:1.7;
}
.card-content a{
  text-decoration:none;
  color:white;
  background:#d90429;
  padding:12px 25px;
  border-radius:30px;
  display:inline-block;
  font-weight:600;
  transition:.3s;
}
.card-content a:hover{
  background:white;
  color:#111;
}
lesson{
  background:#171717;
  border-left: 6px solid #d90429;
  margin:30px auto;
  padding:30px;
  border-radius:18px;
  transition:.4s;
  max-width:1000px;
}
.lesson:hover{
  transform:translateY(-8px);
  box-shadow:0 0 20 rgba(255,0,70,.5);
}
.lesson h3{
  color:#ff3155;
  margin-bottom:15px;
}
.lesson ul{
  margin-left:25px;
}
.lesson li{
  margin:12px 0;
}
.song-list{
  margin-top:30px;
}
.song-list li{
  background:#1e1e1e;
  padding:18px;
  margin:15px 0;
  border-radius:12px;
  list-style:none;
  transition:.3s;
}
.song-list li:hover{
  background:#d90429;
  transform:translateY(10px);
}
.feature-box{
  background:#181818;
  border-radius:18px;
  padding:30px;
  text-align:center;
  transition:.4s;
  border:1px solid #252525;
}
.feature-box:hover{
  transform:translateY(-8px);
  box-shadow:0 0 20px rgba(255,0,70,.5);
}
.feature-box i{
  font-size:55px;
  color:#ff3155;
  margin-bottom:20px;
}
.feature-box h3{
  margin-bottom:15px;
}
.btn{
  display:inline-block;
  margin-top:20px;
  padding:14px 30px;
  border-radius:40px;
  background:#d90429;
  color:white;
  text-decoration:none;
  font-weight:600;
  transition:.3s;
}
.btn:hover{
  background:white;
  color:black;
  transform:scale(1.05);
}
.icon-circle{
  width:80px;
  height:80px;
  background:#d90429;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  margin-bottom:20px;
  font-size:35px;
}
.banner{
  height:350px;
  border-radius:20px;
  overflow:hidden;
  margin-bottom:50px;
}
.banner img{
  width:100%;
  height:100%;
  object-fit:cover;
}
  
