header{
  width:100%;
  display:flex;
  juustify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#111;
  position:sticky;
  top:0;
  z-index:999;
  box-shadow:0 5px 20px rgba(0,0,0,.5);
}
header h1{
  color:#ff1f4d;
  font-size:34px;

  letter-spacing:2px;
}
nav{
  display:flex;
  gap:20px;
}
nav a{
  color:white;
  text-decoration:none;
  padding:10px 20px;
  border-radius:30px;
  transition:.3s;
}
nav a:hover{
  background:#d90429;
  transform:translateY(-3px);
}
  
